html{
  display: flex;
  justify-content: center;
}
.calculator{
  background-color: #4e5556;
  border-radius: 15px;
  border:solid 4px pink;
  padding: 20px 10px 0 10px;
}
.display{
  border: solid 4px pink;
  padding: 27px;
  margin:0 10px;
  border-radius:10px;
}
h1{
  display: flex;
  justify-content: center;
  color: #4e5556;
}
body{
  width: 600px;
  border: 100px;
}
.operators{
  display: flex;
  flex-direction: column;
  float:right;
  justify-content: center;
}

button:focus {
  outline:0;
}

.buttonnumb{
  background-color: pink;
  color: grey;
  width: 125px;
  height: 75px;
  margin: 10px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
.buttonadd{
  background-color: pink;
  color: grey;
  width: 100px;
  height: 75px;
  margin: 10px;
  border-radius: 10px;
font-size: 30px;
font-weight: 500;
}
.buttonsub{
  background-color: pink;
  color: grey;
  width: 100px;
  height: 75px;
  margin: 10px;
  border-radius: 10px;
font-size: 30px;
font-weight: 500;
}
.buttonmulti{
  background-color: pink;
  color: grey;
  width: 100px;
  height: 75px;
  margin: 10px;
  border-radius: 10px;
font-size: 30px;
font-weight: 500;
}
.buttondiv{
  background-color: pink;
  color: grey;
  width: 100px;
  height: 75px;
  margin: 10px;
  border-radius: 10px;
font-size: 30px;
font-weight: 500;
}
.buttonmod{
  background-color: pink;
  color: grey;
  width: 100px;
  height: 75px;
  margin: 10px;
  border-radius: 10px;
font-size: 30px;
font-weight: 500;
}
.buttonequal{
background-color: pink;
color: grey;
width:  425px;
height: 75px;
margin: 10px;
border-radius: 10px;
font-size: 50px;
font-weight: 500;
}
.buttonnumb:hover{
  background-color: gray;
  color: pink;
}
.buttonadd:hover{
  background-color: gray;
  color: pink;
}
.buttonsub:hover{
  color: pink;
  background-color: gray;
}
.buttonmulti:hover{
  color: pink;
  background-color: gray;
}
.buttondiv:hover{
  background-color: gray;
  color: pink;
}
.buttonmod:hover{
  background-color: gray;
  color: pink;
}
.buttonequal:hover{
  background-color: gray;
  color: pink;
}
