html{
  display: flex;
  justify-content: center;
}
.calculator{
  background-image: url(image/calc-background.jpg);
  border-radius: 15px;
  border:solid 4px pink;
  padding: 20px 10px 0 10px;
}
.display{
  border: solid 4px pink;
  padding: 27px;
  margin:0 10px 10px 10px;
  border-radius:10px;
  font-size: 30px;
  color:  #d15786;
  height: 40px;
  background-color: rgba(255,  255,  255, 0.8);
  font-weight: bolder;
  overflow: hidden;
}

h1{
  display: flex;
  justify-content: center;
  color: #4e5556;
}
body{
  width: 520px;
  border: 100px;
  min-width: 520px;

}
button:focus {
  outline:0;
}

#buttonnumb9{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonnumb8{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonnumb7{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonnumb6{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonnumb5{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonnumb4{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonnumb1{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonnumb2{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonnumb3{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonnumb0{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonnumb{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
  }
#buttonC{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}

#buttonadd{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonsub{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonmulti{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttondiv{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonmod{
  background-color: pink;
  color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
}
#buttonequal{
  background-color: pink;
  color: grey;
  width: 175px;
  height: 75px;
  margin: 10px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 10px;
  }
  #buttonpow{
    background-color: pink;
    color: grey;
    width: 75px;
    height: 75px;
    margin: 10px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    box-shadow: 10px;
    }
#buttonnumb9:hover{
  background-color: gray;
  color: pink;
}
#buttonnumb8:hover{
  background-color: gray;
  color: pink;
}
#buttonnumb7:hover{
  background-color: gray;
  color: pink;
}
#buttonnumb6:hover{
  background-color: gray;
  color: pink;
}
#buttonnumb5:hover{
  background-color: gray;
  color: pink;
}
#buttonnumb4:hover{
  background-color: gray;
  color: pink;
}
#buttonnumb3:hover{
  background-color: gray;
  color: pink;
}
#buttonnumb2:hover{
  background-color: gray;
  color: pink;
}
#buttonnumb:hover{
  background-color: gray;
  color: pink;
}
#buttonnumb1:hover{
  background-color: gray;
  color: pink;
}
#buttonnumb0:hover{
  background-color: gray;
  color: pink;
}
#buttonnumbC:hover{
  background-color: gray;
  color: pink;
}
#buttonadd:hover{
  background-color: gray;
  color: pink;
}
#buttonsub:hover{
  color: pink;
  background-color: gray;
}
#buttonmulti:hover{
  color: pink;
  background-color: gray;
}
#buttondiv:hover{
  background-color: gray;
  color: pink;
}
#buttonmod:hover{
  background-color: gray;
  color: pink;
}
#buttonequal:hover{
  background-color: gray;
  color: pink;
}
